{% extends "base.html" %}
{% load static %}
{% block title %}
Order Details
{% endblock %}
{% block content %}
<div  class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Pay via Bank Transfer</h4>
            <hr>
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="card-title">Order Number: {{order.order_number}}</h6>
                    <p class="card-text">Ordered On: {{order.created|date:"d-M-Y"}}</p>
                    <br>
                    <p align="center">ITEMS IN THIS ORDER</p>
                    <hr>
                    <br>
                    {% for item in object.items.all %}
                    <h5 class="card-title">{{item.product.name}}</h5>
                   <p>
                    <img  style="width:50px;height:60px;" src="{% if item.product.thumb_nail %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" >
                    &nbsp;&nbsp;&nbsp;
                    QTY: {{ item.quantity }} &nbsp;&nbsp;
                   Price  KSH: {{ item.product.price }}
                   </p>
                    {% endfor %}
                </div>
                       <hr>
                     <strong><P align="center">Order Total KSH:  {{order.get_total_cost}}</p></strong>
                        <br>
                        <br>
            </div>
            <h5 align="center">HOW TO PAY USING BANK TRANSFER</h5>
                        <p>
                        Please make your payment directly into our bank account. 
                        Use your Order Number as the payment reference. 
                        Your order won't be shipped until the funds have cleared in our account.
                       </p>
                       <br>
                        <b><p>Bank Name: Equity Bank</p></b>
                        <b><p>Account Name: E-SOKO</p></b>
                        <b><p>Account Number: 0123456789</p></b>
                        <b><p>Amount in KSH:  {{order.get_total_cost}}</p></b>
                        <b><p>Payment Reference: &nbsp; {{order.order_number}}</p></b>
                        <p align="center">
                            <a href="{% url 'contact' %}" class="btn btn-primary">NEED HELP PAYING?</a></p>
        </div>
    </div>
</div>

<br>
{% include "shop/product/recommended.html" %}
<br>
{%include "shop/product/recently_viewed.html" %}

{% endblock %}