{% extends 'base.html' %}

{% block content %} 

<div class="order-info">

    <h4><u>Your Order / Cart Summary</u></h4>
       <br>
    <ul>
      {% for obj in objects_list%}
        <li>
          {{ obj.quantity }}x {{ obj.product.name }}
          <span>Ksh: {{ obj.get_cost}}</span>
        </li>
    </ul>
    <p>Total: Ksh: {{ order.get_total_price }}</p>
    {% endfor %}
  </div>
  <hr>
  <br>

<b><p>Kindly wait for Mpesa pin prompt on your phone, after submitting your number below</p></b>

<h2> Enter Your Mpesa Number</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock  %}