{% extends 'base.html' %}
{% load static %}
{% block title %}
Mpesa 
{% endblock %}

{% block content %} 


<P> ENTER YOUR MPESA NUMBER</P>

<form action = "" method = "POST">
  {% csrf_token %}
  {{form.as_p }}
  <input type="submit" value=Submit>
</form>
<br>
<br>
<p>Kindly wait for Mpesa pin prompt on your phone, after submitting your number </p>


<hr>
<br>
<br>
<br>
<p align="center">ITEMS IN THIS ORDER</p>
<div class="card mb-3">
  <div class="card-body">
      <h6 class="card-title">Order Number: {{order.order_number}}</h6>
      <hr>
      <br>
      {% for item in order.items.all %}
      <h5 class="card-title">{{item.product.name}}</h5>
     <p>
      <img  style="width:50px;height:60px;" src="{% if item.product.thumb_nail %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" >
      &nbsp;&nbsp;&nbsp;
      QTY: {{ item.quantity }} &nbsp;&nbsp;
     Price  KSH: {{ item.product.price }}
     </p>
      {% endfor %}
  </div>
         <hr>
       <strong><P align="center">Order Total KSH:  {{order.get_total_cost}}</p></strong>
          <br>
          <br>
</div>

{% endblock  %}